<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="Steampowered.Configurations.SettingsSection,Steampowered" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <appSettings>
    <add key="Browser" value="chrome"/>
    <add key="Url" value="http://store.steampowered.com/"/>
    <add key="ImplicitWait" value="10"/>
    <add key="ExplicitWait" value="25"/>
    <add key="Language" value="en"/>
  </appSettings>
</configuration>