<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="Steampowered.Configurations.SettingsSection,Steampowered" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <appSettings>
    <add key="Browser" value="firefox"/>
    <add key="Url" value="http://store.steampowered.com/"/>
    <add key="ImplicitWait" value="12"/>
    <add key="ExplicitWait" value="25"/>
    <add key="Language" value="ru"/>
    <add key="PathToFile" value="\.."/>
    <add key="NameFile" value="SteamSetup.exe"/>
    <add key="Day" value="13"/>
    <add key="Month" value="4"/>
    <add key="Year" value="1995"/>
  </appSettings>
</configuration>