<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="firefox"/>
    <add key="Url" value="http://store.steampowered.com/"/>
    <add key="ImplicitWait" value="10"/>
    <add key="ExplicitWait" value="25"/>
    <add key="Language" value="ru"/>
    <add key="PathToFile" value="\Steampowered\DownloadsSteam"/>
    <add key="Day" value="13"/>
    <add key="Month" value="April"/>
    <add key="Year" value="1995"/>
    <add key="idTab" value="DiscountsTable"/>
    <add key="DownloadWait" value="1000"/>
    <add key="Time" value="30"/>
  </appSettings>
</configuration> 