<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="chrome"/>
    <add key="Url" value="http://store.steampowered.com/"/>
    <add key="ImplicitWait" value="15"/>
    <add key="ExplicitWait" value="35"/>
    <add key="Language" value="en"/>
    <add key="PathToFile" value="\Steampowered"/>
    <add key="Day" value="13"/>
    <add key="Month" value="April"/>
    <add key="Year" value="1995"/>
    <add key="idTab" value="DiscountsTable"/>
  </appSettings>
</configuration>